<% include partials/header %>

<div class="container">
    <h1 style="font-weight: 300;text-align:center;font-size:80px;">Enter Your City</h1>
    <form action="/search" method="GET">
    <div class="box">
      <div class="container-1">
          <input type="search" name="city" id="search" placeholder="City..." />
          <button class="icon"><i class="fa fa-search"></i></span>
      </div>
    </div>
    </form>
</div>

<% include partials/footer %>
